<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Baza" connectionString="Data Source=ONNA-BUGEISHA\SQLEXPRESS;Initial Catalog=Baza;Integrated Security=True;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>
  <system.web>
  </system.web>
</configuration>